  <div class="container">
    <div class="col s12 m12">
      <div class="row header">
        <h3 class="flow-text center">Please enter your info to be redirected to <span class="title"><%= title %></span>!</h3>
      </div>
      <div class="row">
        <form class="col s8 offset-s2 m12" id="survey" action="/submit" method="POST">
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="firstName" name="firstName" type="text" pattern=".{1,}" class="validate">
              <label for="firstName" data-error="This field is required.">First Name</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="lastName" name="lastName" type="text" pattern=".{1,}" class="validate">
              <label for="lastName" data-error="This field is required.">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input id="company" name="company" type="text" pattern=".{2,}" class="validate">
              <label for="company" data-error="This field is required (at least 2 characters).">Company</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input id="email" name="email" type="email" class="validate">
              <label for="email" data-error="This doesn't appear to be a valid email.">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field submission col s12">
              <input type="hidden" id="version" name="version" value="<%= skip === 1 ? 'skip' : 'no skip' %>">
              <button onclick="_gaq.push(['_trackEvent', 'submit_form', 'clicked'])" class="btn waves-effect waves-light submit-btn" type="submit" name="action" value="<%= redirect %>">
                <%= message %>
              </button>
            </div>
          </div>
        </form>
        <% if(skip === 1) { %>
          <div class="row">
            <div class="col s12 m12">
              <h6 class="right">
                <a class="skip" onclick="_gaq.push(['_trackEvent', 'skip', 'clicked'])" name="skip" href="<%= redirect %>">skip</a>
              </h6>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65717641-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="js/form.js"></script>